*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'League Spartan', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(216, 12%, 8%);
}
main {
  width: 40%;
}
.container{
  background-color: hsl(222, 22%, 15%);
  border-radius: 10px;
  padding: 1rem;
}
span{
  text-align: center;
  padding-top: 9px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: hsl(217, 6%, 25%);
}
span:hover{
  background-color: hsl(25, 97%, 53%);
}
span>*:hover{
  color: white;
  cursor: pointer;
}
.rating{
  display: flex;
  justify-content: space-between;
}
button{
  background-color: hsl(25, 97%, 53%);
  border: none;
  padding: 0.4rem;
  font-size: 0.7rem;
  color: hsl(0, 0%, 100%);
  letter-spacing: 2px;
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
  margin-top: 1rem;
}
button:hover{
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}
.rated{
  color: hsl(25, 100%, 68%);
  background-color: hsl(220, 3%, 22%);
  padding: 0.2rem;
  border-radius: 16px;
  text-align: center;
  margin-top: 1rem;
}
h1,h2{
  color: hsl(0, 0%, 100%);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
p{
  color: hsl(217, 12%, 63%);
  line-height: 1.2rem;
  margin-bottom: 1rem;
}
.warn{
  padding: 0.4rem;
  color: red;
  background-color:aliceblue;
}
.hidden{
  display: none;
}
.select{
  background-color: aqua;
}

@media screen and (max-width:400px){
  main{
    width:55%
  }
}
